#login-form #form__login {
  /* all:unset; */
  background-color: #fae83d;
  border: none;
  padding: 5px 70px;
}

#login-form #form__create {
  border-color: #ececec;
}

#login__id, #login__pw {
  all: unset;
  text-decoration:underline;
}

#login__keep {
  all : unset;
  margin-left: 10px;
}

