#form__account {
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  text-align: center;
}

#form__account input {
  border: none;
  transition: border-color 2s ease-in-out;
}

#form__account .account__loginId,
#form__account .account__loginPw {
  border-bottom: 1px solid var(--color-gray);
  padding: 30px 0px;
  font-size: 18px;
}

#form__account input::placeholder {
  color: var(--color-gray);
}

#form__account input:focus {
  border-color: var(--color-yellow);
}

#form__account .account__loginBtn,
#form__account .account__createBtn {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

#form__account .account__loginBtn {
  margin-top: 60px;
  padding: 20px 0px;
}

#form__account .account__createBtn {
  margin: 20px 0px 35px 0px;
  padding: 20px 0px;
}

#form__account .account__loginBtn:hover,
#form__account .account__createBtn:hover {
  background-color: var(--color-bright-yellow);
  transform: scale(1.1);
}
