@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "../../../../reset.css";
@import "./variables.css";
/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
/* Screen */
@import "./screen/welcome-header.css";
@import "./screen/login-form.css";
@import "./screen/friends.css";
@import "./screen/chats.css";
@import "./screen/find.css";

/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

@media screen and (min-width: 600px)
{
  body, .status-bar, .nav{
    max-width: 600px;
    max-height: 1080px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  color:#2f363e;
}

li {
  list-style: none;
}

.main-screen {
  padding: 0 var(--horizontal-space) 
}