@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "../../../reset.css";
@import "./variables.css";
/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
/* Screen */
@import "./screen/welcome-header.css";
@import "./screen/login-form.css";
@import "./screen/friends.css";
@import "./screen/find.css";
@import "./screen/more.css";
@import "./screen/chats-inner.css";

/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */


body {
  font-family: "Open Sans", sans-serif;
  color:#2f363e;
  font-size: 32px;
}


li {
  list-style: none;
}

.main-screen {
  margin-top: 4.3125em;
  padding: 1.875em var(--horizontal-space) 0;
  /* overflow: scroll; */
}

.not__ppi {
  display: none;
}

@media screen and (max-width: 299px)
{
  .not__ppi {
    display: block;
    width: 100vw;
    height: 100vh;
    color: yellow;
    background-color: black;
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
  }
  .status-bar, .screen-header, .nav, .main-screen {
    display: none;
  }
}
@media screen and (min-width: 300px) and (max-width: 414px) 
{
  body{
    max-width: 414px;
    font-size: 16px;
  }
}
@media screen and (min-width: 415px) and (max-width: 500px)
{
  body{
    font-size: 18px;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px)
{
  body{
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) 
{
  body {
    font-size: 24px;
  }
}
@media screen and (orientation: landscape)
{
  body {
    font-size: 10px;
  }
}
