@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "../../../../reset.css";
@import "./status-bar.css";
@import "./login-form.css";
@import "./variables.css";

/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.welcome-header {
  margin: 130px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.welcome-header__title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 50px;
}

.welcome-header__text {
  width: 60%;
  color: var(--color-gray);
}
