body {
  font-family: "Noto Sans KR", sans-serif;
}

.my-table {
  border-collapse: collapse;
  width: 1000px;
  border-top: 2px solid #1e61a8;
  line-height: 2;
}
.my-table th,
.my-table td {
  text-align: start;
  border: 1px solid #ccc;
  background-color: white;
  border-left: none;
}
.my-table thead th {
  text-align: center;
  border: none;
  background-color: #eee;
  color: black;
}
.my-table th {
  color: green;
}
.my-table td {
  border-right: none;
}
.my-table a {
  text-decoration : none;
  color: #000;
}
.red {
  color: #c54304;
}