.friends__margin {
  margin-top: 100px;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #fafafa;
}

.friends__margin i {
  color: rgba(0,0,0,0.3)
}

.profile,
.channel__title,
.friends-list,
.friends-profile
 {
  display: flex;
}

.channel__menu,
.friends-list,
.friends__a i
 {
  position:relative;
}

.profile {
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 20px;
  margin: 20px 20px 30px 20px;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 15px;
}

.profile span {
  font-size: 24px;
  font-weight: 600;
}

.channel__menu {
  margin: 0px 20px;
}

.channel__title {
  justify-content: space-between;
}

.channel__menu p:first-child{
  opacity: 0.5;
}

.channel__menu >p,
.channel__menu >i{
  display: inline-block;
}

.channel__menu >i {
  position: absolute;
  right: 0px;
}

.friends-list {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.friends-profile {
  align-items: center;
}

.friends__a {
  width: 55px;
  height: 55px;
  background-color: var(--color-kakao);
  padding: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  border-radius: 25px;
  display: inline-block;
}

.friends__a i {
  bottom: 5px;
  right: 2px;
}

.friends-icon {
  position: absolute;
  top: 16px;
  left: 18px;
  color: var(--color-kakao);
}

