.friends__display {
  margin: -15px 0 15px 0;
}

.friends__display-a {
  padding: 13px;
  display: block;
  font-size: 18px;
  text-align: center;
  background-color: #fafafa;
}

.friends__display-a i {
  color: rgba(0,0,0,0.3)
}

.friends-screen__channel-header,
.friends-list,
.friends-profile
 {
  display: flex;
}
.channel__menu,
.friends-list,
.friends__a i
 {
  position:relative;
}

.friends-screen__channel {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0 0 0;
  padding: 20px 0; 
}
.friends-screen__channel p:first-child{
  opacity: 0.5;
}

.friends-screen__channel-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}