* {
   font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 700px) {
   .nav__menu-bar {
      font-size: 12px;
   }
}

.white {
   background-color: white;
}

.black {
   color: white;
   background-color: black;
}

blockquote,
.blockquote {
   margin: 0px 25px;
}

.code-box {
   display: flex;
}

.code,
.code-result {
   display: inline-block;
   padding: 10px;
}

.code {
   background-color: gainsboro;
   display: flex;
   justify-content: start;
   align-items: center;
}

.code-result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: beige;
}
.margin {
   margin-top: 50px;
}
.nav__menu-bar {
   padding: 15px;
   position: sticky;
   top: 0;
   background-color: white;
   font-size: 24px;
   font-weight: 600;
}
.nav__menu-bar a {
   text-decoration: none;
   color: black;
   background-color: rgba(0, 0, 0, 0.1);
   padding: 5px;
   border-radius: 10px;
   margin-right: 5px;
}

pre {
   margin-left: -80px;
   padding-right: 80px;
}

/* part-00 */
#part-00 h3 {
   color: red;
}
#part-00 h4 {
   color: blue;
}

/* part-01 */
.part-01__color1 {
   color: red;
}
.part-01__color2 {
   color: #337755;
}
.part-01__color3 {
   color: rgb(255, 255, 100);
}
.part-01__color4 {
   color: rgba(0, 0, 0, 0.2);
}
#part-01__id-color {
   color: #e57969;
}

/* part-02 */
#part-02 p {
   margin-bottom: 0px;
}

.part-02__size2 {
   font-size: 2em;
}
.part-02__size3 {
   font-size: 2rem;
}
.part-02__size4 {
   font-size: 3ex;
}

/* part-03 */
#part-03 {
   font-family: '돋움', dotum, sans-serif;
}

.part-03__big-text {
   font-size: 2em;
   color: green;
   font-weight: bolder;
}

.part-03__text {
   color: skyblue;
   font-size: 0.88em;
}

.part-03__line {
   text-decoration: underline;
   font-style: italic;
   line-height: 30px;
   text-align: justify;
}

#part-03__id-text {
   letter-spacing: 10px;
   text-indent: 30px;
   text-transform: capitalize;
}

/* part-04 */
#part-04 h3 {
   /* border-width: 5px;
  border-style: solid;
  border-color: green; */
   border: 2px solid blue;
}

.part-04__my-table {
   width: 600px;
   border-top: 2px solid green;
   border-bottom: 2px solid green;
   border-collapse: collapse;
   text-align: center;
   line-height: 2;
}

.part-04__td {
   border: 1px solid #999;
}

.part-04__col-first {
   border-left: none;
}

.part-04__col-last {
   border-right: none;
}

/* *part-05 */
.part-05__list > li {
   /* list-style: square; */
   list-style: circle;
}

#part-05 ol > li {
   /* list-style-type: decimal-leading-zero; */
   list-style-type: upper-roman;
}

.part-05__top > li {
   /* list-style-type: square;
   list-style-position: inside; */
   list-style: none;
   text-indent: 10px;
}

.part-05__img > li {
   list-style-image: url('../../01-html/hollys/image/ico_arrow.gif');
}

/* part-06 */
#part-06 p {
   font-size: 25px;
   background-color: antiquewhite;
   line-height: 2;
}

.part-06__cursor2 {
   cursor: all-scroll;
}
.part-06__cursor3 {
   cursor: cell;
}
.part-06__cursor4 {
   cursor: col-resize;
}
.part-06__cursor5 {
   /* cursor:context-menu;*/
   cursor: copy;
}
.part-06__cursor6 {
   cursor: crosshair;
}
.part-06__cursor7 {
   cursor: ew-resize;
}
.part-06__cursor8 {
   cursor: grab;
}
.part-06__cursor9 {
   cursor: grabbing;
}
.part-06__cursor10 {
   cursor: help;
}
.part-06__cursor11 {
   cursor: pointer;
}
.part-06__cursor12 {
   cursor: url('../src/img/icon.png'), auto;
}

/* part-07 */
#part-07 li {
   list-style: none;
}

/* ? 글자 30px, 굵게, #333 색상 */
.part-07__menu > li > a {
   font-size: 30px;
   font-weight: bolder;
   color: #333;
}

.part-07__menu > li a {
   text-decoration: none;
}

/* part-08 */
.part-08__menu li > a:link {
   color: pink;
}
.part-08__menu li > a:hover {
   color: green;
}
.part-08__menu li > a:visited {
   color: #222;
}
.part-08__menu li > a:active {
   color: orange;
}
.part-08__menu-2 li > a {
   color: deepskyblue;
}
.part-08__menu-2 li > a:hover {
   color: salmon;
   text-decoration: none;
}

/* part-09 */
#part-09 .code-result h2 {
   border-width: 5px;
   border-style: solid;
   border-color: aqua;
}

#part-09 .code-result p {
   /* border-top-style: solid;
   border-top-width: 2px; */
   border-top: 2px solid;
}

/* *part-10 */
.part-10__table {
   border-collapse: collapse;
   width: 700px;
   line-height: 2.5;
}

.part-10__table > thead {
   border-bottom: 2px solid;
}

.part-10__table th,
.part-10__table td {
   border-bottom: 1px solid #ccc;
}
.part-10__bg > * {
   background-color: #ddd;
}

/* *part-11 */
.part-11__my-table {
   border-collapse: collapse;
   width: 1000px;
   border-top: 2px solid #1e61a8;
   line-height: 2;
}
.part-11__my-table th,
.part-11__my-table td {
   text-align: start;
   border: 1px solid #ccc;
   background-color: white;
}
.part-11__my-table thead th {
   text-align: center;
   border: none;
   background-color: #eee;
   color: black;
}
.part-11__my-table th {
   color: green;
   border-right: none;
   border-left: none;
}
.part-11__my-table td {
   border-right: none;
}
.part-11__my-table a {
   text-decoration: none;
   color: #000;
}
.part-11__red {
   color: #c54304;
}

/* *part-12 */
#part-12 {
   font-size: 10px;
}
#part-12 p {
   background-color: pink;
}

#part-12 p::before {
   content: 'beofore (선택자 앞에 붙는 content)';
   font-size: 20px;
   color: green;
}

#part-12 p::after {
   content: 'after (선택자 뒤에 붙는 content)';
   font-size: 20px;
   text-decoration: underline;
}
#part-12 p::first-letter {
   font-weight: bolder;
   color: red;
}

/* *part-13 */
#part-13 h1 {
   background: antiquewhite;
}

#part-13 {
   /* background-color: skyblue;
   background-image: url("../src/img/b1.png");
   background-repeat: no-repeat;
   background-position: center 200px;
   background-attachment: fixed; */
   background: skyblue url('./img/b1.png') no-repeat center 200px fixed;
}

/* *part-14 */
#part-14 .code-result > div {
   height: 200px;
   background-color: #eee;
   font-size: 50px;
}

.part-14__box2 {
   background-image: url('../../01-html/subway/image/mainBanner_1.jpg');
   color: white;
   background-attachment: fixed;
   background-position: center center;
}

.part-14__box4 {
   background-image: url('../../01-html/subway/image/mainBanner_2.jpg');
   color: white;
   background-attachment: fixed;
   background-position: center center;
   font-size: 50px;
}

/* *part-15 */
#part-15 li {
   list-style: none;
}

.part-15__sns > li > a {
   display: block;
   width: 50px;
   height: 50px;
   text-indent: -9999px;
}

.part-15__facebook > a {
   background: url('../../01-html/subway/image/icon_sns_facebook.png') no-repeat left;
}
.part-15__facebook > a:hover {
   background-position: -50px 0;
}

.part-15__instagram > a {
   background: url('../../01-html/subway/image/icon_sns_instar.png') no-repeat left;
}
.part-15__instagram > a:hover {
   background-position: -50px 0;
}

/* *part-16 */
#part-16 li {
   list-style: none;
}
.part-16__quick-menu > li > a {
   display: block;
   width: 70px;
   height: 70px;
   background: url('../../01-html/subway/image/icon_quickmenu.png');
   text-indent: -9999px;
}

.part-16__quick-menu > .part-16__quick2 > a {
   background-position: -70px 0;
}
.part-16__quick-menu > .part-16__quick3 > a {
   background-position: -140px 0;
}
.part-16__quick-menu > .part-16__quick4 > a {
   background-position: -210px 0;
}

/* *part-17 */
#part-17 li {
   list-style: none;
}

.part-17__arr > li > a {
   display: block;
   width: 50px;
   height: 50px;
   background-image: url('../../01-html/subway/image/icon_event_slider_arr.png');
   text-indent: -9999px;
}

.part-17__left-arr > a:hover {
   background-position: 0 -50px;
}
.part-17__right-arr > a {
   background-position: -50px 0;
}
.part-17__right-arr > a:hover {
   background-position: -50px -50px;
}

.part-17__img-list > a {
   display: block;
   width: 83px;
   height: 83px;
   background-image: url('./img/sp_autocomplete_4d068feb.png');
   background-position: -166px 0px;
   text-indent: -9999px;
}

.part-17__img-list > a:hover {
   background-position: 0px 0px;
}

/* *part-18 */
#part-18 {
   background: url('../../01-html/subway/image/bg_utilization.png') no-repeat center 0,
      url('../../01-html/subway/image/mainBanner_1.jpg') no-repeat;
}
#part-18 h2 {
   color: #fff;
}

/* *part-19 */
#part-19 .code-result > div {
   width: 600px;
   height: 300px;
   background-color: pink;
   background-position: center center;
   background-image: url('../../01-html/subway/image/mainBanner_4.jpg');
   margin-bottom: 10px;
}

.part-19__box2 {
   background-size: 100%;
   background-repeat: no-repeat;
}

.part-19__box3 {
   background-size: 100% 100%;
}
.part-19__box4 {
   background-size: contain;
}
.part-19__box5 {
   background-size: cover;
}

/* *part-20 */
.part-20__h1 {
   background-color: antiquewhite;
   width: 600px;
}
.part-20__box1 {
   background-color: skyblue;
   width: 50%;
}
.part-20__box1 > span {
   background-color: pink;
   /* // width: 200px; height: 200px; */
}

.part-20__box2 {
   width: 50%;
   height: 200px;
   background-color: salmon;
}
.part-20__box3 {
   width: 500px;
   background-color: yellowgreen;
}
.part-20__img {
   width: 100%;
}

/* *part-21 */
#part-21 .code-result > p {
}

.part-21__box2,
.part-21__box3,
.part-21__box4,
.part-21__box5,
.part-21__box6,
.part-21__box7,
.part-21__box11,
.part-21__box12 {
   line-height: 150px;
   background-color: pink;
   width: 400px;
   height: 150px;
   text-align: center;
}

.part-21__box8,
.part-21__box9,
.part-21__box10 {
   line-height: 75px;
   background-color: pink;
   width: 400px;
   height: 150px;
   text-align: center;
}

.part-21__box2 {
   border-right: 2px solid blue;
}
.part-21__box3 {
   border: 20px solid green;
}
.part-21__box4 {
   outline: 20px solid red;
}
.part-21__box5 {
   border-top-left-radius: 50px;
}
.part-21__box6 {
   border-start-start-radius: 100px;
}
.part-21__box7 {
   border-radius: 30px;
}
.part-21__box8 {
   border-radius: 10px 50px;
}
.part-21__box9 {
   border-radius: 10px 30px 80px;
}
.part-21__box10 {
   border-radius: 20px 50px 10px 5px;
}
.part-21__box11 {
   border-radius: 10px/80px;
}
.part-21__box12 {
   border-radius: 50%;
   background-color: pink;
   width: 200px;
   height: 200px;
   line-height: 200px;
}

/* *part-22 */
.part-22__more-btn > a {
   border: 2px solid black;
   display: block;
   width: 130px;
   height: 40px;
   text-align: center;
   line-height: 40px;
   color: black;
   text-decoration: none;
   border-radius: 5px;
   /* padding: 10px 20px; */
}

.part-22__more-btn > a:hover {
   background-color: black;
   color: white;
   text-decoration: underline;
}

.part-22__icon-item {
   width: 85px;
   height: 85px;
   background-color: #fff;
   border-radius: 50%;
   text-align: center;
   cursor: pointer;
}

.part-22__icon-item > i {
   display: block;
   width: 100%;
   height: 55px;
   background: url('./img/icon_set_011.png') no-repeat center 100%;
}

.part-22__icon-item > span {
   font-weight: bolder;
}

.part-22__icon-item:hover {
   background-color: dodgerblue;
   color: white;
}

.part-22__icon-item:hover > i {
   background-image: url('./img/icon_set_011_over.png');
}

/* *part-23 */
.part-23__quick-wrap {
   /* display: flex; */
}

.part-23__quick-wrap > div > a {
   display: block;
   width: 300px;
   height: 80px;
}

.part-23__quick-wrap a {
   text-decoration: none;
   font-size: 22px;
   font-weight: bolder;
   line-height: 80px;
}

.part-23__quick1 > a,
.part-23__quick2 > a {
   background-repeat: no-repeat;
}
.part-23__quick1 > a {
   color: #292929;
   background-color: #ffce32;
   border-radius: 30px 0 0 0;
   background-image: url('../../01-html/subway/image/icon_map.png');
   background-position: 90px center;
   text-indent: 120px;
}
.part-23__quick2 > a {
   color: white;
   background-color: #009223;
   border-radius: 0 0 30px 0;
   background-image: url('../../01-html/subway/image/icon_franchise.png');
   background-position: 55px center;
   text-indent: 95px;
}

/* *part-24 */
.part-24__sponsor-wrap {
   height: 140px;
   width: 140px;
   background-color: red;
   text-align: center;
   border-radius: 50%;
}

.part-24__sponsor-wrap > i {
   background: url('./img/icon_heart.png') no-repeat center 75%;
   display: block;
   width: 100%;
   height: 90px;
}

.part-24__sponsor-wrap > span {
   color: white;
}

.part-24__sponsor-wrap:hover {
   background-color: white;
   cursor: pointer;
}
.part-24__sponsor-wrap:hover > i {
   background-image: url('./img/icon_heart-red.png');
}
.part-24__sponsor-wrap:hover > span {
   color: black;
}

/* *part-25 */
.part-25__box1 {
   width: 10px;
}

#part-25 > h3:first-of-type {
   background-color: antiquewhite;
   margin-top: 0;
   margin-bottom: 0;
   display: inline-block;
}
.part-25__box1,
.part-25__box2,
.part-25__box3,
.part-25__box4,
.part-25__box5 {
   width: 100%;
   background-color: pink;
}

.part-25__box1 {
   margin-top: 10px;
}
.part-25__box2 {
   margin:10px;
}
.part-25__box3 {
   margin: 30px 20px;
}
.part-25__box4 {
   margin: 10px 30px 20px;
}
.part-25__box5 {
   margin-top: 10px;
}

/* *part-26 */
.part-26__div {
   background-color: pink;
   height: 100px;
   width: 200px;
   margin: 0 auto;
   max-width: 200px;
}
#part-26 .code-result {
   padding: 0;
}

/* *part-27 */
   .part-27__div {
      width: 500px;
      background-color: skyblue;
      margin: 0 auto;
   }
   .part-27__logo {
      margin: 50px 0 0 0;
   }

   /* *part-28 */

   .part-28__box {
      background-color: skyblue;
      width: 300px;
      margin-bottom: 10px;
   }
   .part-28__span {
      background-color: hotpink;
      padding: 50px 100px;
      margin: 50px 0 30px 20px;
   }
   .part-28__ul {
      margin: 0;
      padding: 0;
   }
   .part-28__li {
      background-color: azure;
      list-style-type: none;
   }

   .part-28__box1 {
      padding-top: 50px;
   }
   .part-28__box2 {
      padding: 30px;
   }
   .part-28__box3 {
      padding: 50px 10px;
   }
   .part-28__box4 {
      padding: 10px 50px 100px;
   }
   .part-28__box5 {
      padding: 20px 50px 30px 10px;
   }

   /* *part-29 */
   .part-29__h2 {
      font-size: 48px;
      background: url("../../01-html/subway/image/bul_tit.png") no-repeat;
      line-height: 60px;
      padding-left: 20px;
   }

   /* *part-30 */
   .part-30__gnv {
      padding: 0;
      margin: 0;
      max-width: 500px;
      margin: 0 auto;
   }
   .part-30__gnv >li{
      display: inline-block;
      list-style-type: none;
      border-right: 1px solid #ccc;
      padding: 0 10px;
      line-height: 0.9;
   }
   .part-30__gnv >li:last-child {
      border: none;
   }
   .part-30__gnv >li>a {
      color: #333;
      text-decoration: none;
   }
   .part-30__gnv >li>a:hover {
      text-decoration:underline;
   }

   /* *part-31  */
   .part-31__div h1 + h2{
      background-color: pink;
   }

   .part-31__div h1 ~ p {
      background-color: skyblue;
   }

   /* *part-32 nth child */
   .part-32__div ul,
   .part-32__div ol {
      list-style: none;
      padding: 0;
   }

   .part-32__list li:first-child {
      background-color: skyblue;
      font-size: 20px;
   }
   .part-32__list li:last-child {
      font-size: 20px;
      text-decoration: underline;
   }
   .part-32__list li:nth-child(4) {
      color: white;
      background-color: #000;
   }
   .part-32__menu li:nth-child(even) {
      background-color: salmon;
   }
   .part-32__menu li:nth-child(odd) {
      font-size: 25px;
   }

   /* *part-33 */
   .part-33__dl >dd:first-of-type{
      background-color: skyblue;
   }

   .part-33__div>p:nth-of-type(2) {
      background-color: skyblue;
   }

   /* *part-34 */
   .part-34__foot {
      background-color: #ba000c;
   }
   .part-34__ul {
      list-style: none;
      padding: 0;
      margin: 0;
   }
   .part-34__div {
      max-width: 1000px;
      margin: 0 auto;
      padding: 50px 0;
   }
   .part-34__ul >li {
      display: inline-block;
      background: url("../../01-html/hollys/image/bg_footer_bar01.gif") no-repeat right center;
      padding: 0 15px 0 10px;
   }
   .part-34__ul >li:last-child {
      background: none;
      padding: 0 10px;
   }

   .part-34__ul >li >a{
      text-decoration: none;
      color: #fff;
   }