* {
   font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 700px) { 
   .nav__menu-bar {
      font-size: 12px;
   }
}


blockquote,
.blockquote {
   margin: 0px 25px;
}

.code-box {
   display: flex;
}

.code,
.code-result {
   display: inline-block;
   padding: 10px;
}

.code {
   background-color: gainsboro;
   display: flex;
   justify-content: start;
   align-items: center;
}

.code-result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: beige;
}
.margin {
   margin-top: 50px;
}
.nav__menu-bar {
   padding: 15px;
   position: sticky;
   top: 0;
   background-color: white;
   font-size: 24px;
   font-weight: 600;
}
.nav__menu-bar a {
   text-decoration: none;
   color: black;
   background-color: rgba(0, 0, 0, 0.1);
   padding: 5px;
   border-radius: 10px;
   margin-right: 5px;
}

pre {
   margin-left: -80px;
}


/* part-00 */
#part-00 h3 {
   color: red;
}
#part-00 h4 {
   color: blue;
}

/* part-01 */
.part-01__color1 {
   color: red;
}
.part-01__color2 {
   color: #337755;
}
.part-01__color3 {
   color: rgb(255, 255, 100);
}
.part-01__color4 {
   color: rgba(0, 0, 0, 0.2);
}
#part-01__id-color {
   color: #e57969;
}

/* part-02 */
#part-02 p {
   margin-bottom: 0px;
}

.part-02__size2 {
   font-size: 2em;
}
.part-02__size3 {
   font-size: 2rem;
}
.part-02__size4 {
   font-size: 3ex;
}

/* part-03 */
#part-03 {
   font-family: '돋움', dotum, sans-serif;
}

.part-03__big-text {
   font-size: 2em;
   color: green;
   font-weight: bold;
}

.part-03__text {
   color: skyblue;
   font-size: 0.88em;
}

.part-03__line {
   text-decoration: underline;
   font-style: italic;
   line-height: 30px;
   text-align: justify;
}

#part-03__id-text {
   letter-spacing: 10px;
   text-indent: 30px;
   text-transform: capitalize;
}

/* part-04 */
#part-04 h3 {
   /* border-width: 5px;
  border-style: solid;
  border-color: green; */
   border: 2px solid blue;
}

.part-04__my-table {
   width: 600px;
   border-top: 2px solid green;
   border-bottom: 2px solid green;
   border-collapse: collapse;
   text-align: center;
   line-height: 2;
}

.part-04__td {
   border: 1px solid #999;
}

.part-04__col-first {
   border-left: none;
}

.part-04__col-last {
   border-right: none;
}

/* part-05 */
.part-05__list > li {
   /* list-style: square; */
   list-style: circle;
}

#part-05 ol > li {
   /* list-style-type: decimal-leading-zero; */
   list-style-type: upper-roman;
}

.part-05__top > li {
   /* list-style-type: square;
   list-style-position: inside; */
   list-style: none;
   text-indent: 10px;
}

.part-05__img > li {
   list-style-image: url('../../01-html/hollys/image/ico_arrow.gif');
}

/* part-06 */
#part-06 p {
   font-size: 25px;
   background-color: antiquewhite;
   line-height: 2;
}

.part-06__cursor2 {
   cursor: all-scroll;
}
.part-06__cursor3 {
   cursor: cell;
}
.part-06__cursor4 {
   cursor: col-resize;
}
.part-06__cursor5 {
   /* cursor:context-menu;*/
   cursor: copy;
}
.part-06__cursor6 {
   cursor:crosshair;
}
.part-06__cursor7 {
   cursor:ew-resize;
}
.part-06__cursor8 {
   cursor:grab;
}
.part-06__cursor9 {
   cursor: grabbing;
}
.part-06__cursor10 {
   cursor: help;
}
.part-06__cursor11 {
   cursor: pointer;
}
.part-06__cursor12 {
   cursor: url("../src/img/icon.png"), auto;
}

/* part-07 */
#part-07 li {
   list-style: none;
}

/* ? 글자 30px, 굵게, #333 색상 */
.part-07__menu >li >a {
   font-size: 30px;
   font-weight: bold;
   color: #333;
}

.part-07__menu >li a {
   text-decoration: none;
}

/* part-08 */
.part-08__menu li>a:link{
   color: pink;
}
.part-08__menu li>a:hover{
   color: green;
}
.part-08__menu li>a:visited{
   color: #222;
}
.part-08__menu li>a:active{
   color: orange;
}
.part-08__menu-2 li>a{
   color: deepskyblue;
}
.part-08__menu-2 li>a:hover{
   color: salmon;
   text-decoration: none;
}

/* part-09 */
#part-09 .code-result h2{
   border-width: 5px;
   border-style:solid;
   border-color: aqua;
}

#part-09 .code-result p {
   /* border-top-style: solid;
   border-top-width: 2px; */
   border-top: 2px solid;
}

/* part-10 */
.part-10__table {
   border-collapse: collapse;
   width: 700px;
   line-height: 2.5;
}

.part-10__table >thead {
   border-bottom: 2px solid;
}

.part-10__table th,
.part-10__table td{
   border-bottom: 1px solid #ccc;
}
.part-10__bg >* {
   background-color: #ddd;
}

/* part-11 */
.part-11__my-table {
   border-collapse: collapse;
   width: 1000px;
   border-top: 2px solid #1e61a8;
   line-height: 2;
 }
 .part-11__my-table th,
 .part-11__my-table td {
   text-align: start;
   border: 1px solid #ccc;
   background-color: white;
 }
 .part-11__my-table thead th {
   text-align: center;
   border: none;
   background-color: #eee;
   color: black;
 }
 .part-11__my-table th {
   color: green;
   border-right: none;
   border-left: none;
 }
 .part-11__my-table td {
   border-right: none;
 }
 .part-11__my-table a {
   text-decoration : none;
   color: #000;
 }
 .part-11__red {
   color: #c54304;
 }
 
 /* *part-12 */
 #part-12 {
   font-size: 10px;
 }
 #part-12 p {
   background-color: pink;
   font-size: 0.625em
 }

 #part-12 p::before {
   content: "beofore (선택자 앞에 붙는 content)";
   font-size: 20px;
   color: green;
 }

 #part-12 p::after {
   content: "after (선택자 뒤에 붙는 content)";
   font-size: 20px;
   text-decoration: underline;
 }
 #part-12 p::first-letter {
   font-weight: bold;
   color: red;
 }

 /* *part-13 */
 #part-13 h1 {
   background: antiquewhite;
 }

 #part-13 {
   /* background-color: skyblue;
   background-image: url("../src/img/b1.png");
   background-repeat: no-repeat;
   background-position: center 200px;
   background-attachment: fixed; */
   background:skyblue url("./img/b1.png") no-repeat center 200px fixed;
 }

 /* *part-14 */
 #part-14 .code-result >div {
   height: 200px;
   background-color: #eee;
   font-size: 50px;
 }

 .part-14__box2{
   background-image: url("../../01-html/subway/image/mainBanner_1.jpg");
   color: white;
   background-attachment: fixed;
   background-position: center center;
}

.part-14__box4 {
   background-image: url("../../01-html/subway/image/mainBanner_2.jpg");
   color: white;
   background-attachment: fixed;
   background-position: center center;
   font-size: 50px
 }

 /* *part-15 */
 #part-15 li {
   list-style: none;
 }

 .part-15__sns>li>a{
   display: block;
   width: 50px;
   height: 50px;
   text-indent: -9999px;
 }

 .part-15__facebook >a {
   background: url("../../01-html/subway/image/icon_sns_facebook.png") no-repeat left; 
 }
.part-15__facebook >a:hover {
   background-position: -50px 0;
}


 .part-15__instagram >a {
   background: url("../../01-html/subway/image/icon_sns_instar.png") no-repeat left;
 }
 .part-15__instagram >a:hover {
   background-position: -50px 0;
}

/* *part-16 */
#part-16 li {
   list-style: none;
}
.part-16__quick-menu >li >a {
   display: block;
   width: 70px;
   height: 70px;
   background: url("../../01-html/subway/image/icon_quickmenu.png");
   text-indent: -9999px;
}

.part-16__quick-menu >.part-16__quick2 >a {
   background-position: -70px 0;
}
.part-16__quick-menu >.part-16__quick3 >a {
   background-position: -140px 0;
}
.part-16__quick-menu >.part-16__quick4 >a {
   background-position: -210px 0;
}

/* *part-17 */
#part-17 li {
   list-style: none;
}

.part-17__arr >li> a {
   display: block;
   width: 50px;
   height: 50px;
   background-image: url("../../01-html/subway/image/icon_event_slider_arr.png");
   text-indent: -9999px;
}

.part-17__left-arr >a:hover {
   background-position: 0 -50px;
}
.part-17__right-arr >a {
   background-position: -50px 0;
}
.part-17__right-arr >a:hover {
   background-position: -50px -50px;
}

/* *part-18 */
.part-18__img-list a {
   display: block;
   width: 83px;
   height: 83px;
   background-image: url("./img/sp_autocomplete_4d068feb.png");
   background-position: -166px 0px;
   text-indent: -9999px;
}

.part-18__img-list a:hover {
   background-position: 0px 0px;
}