.nav {
   position: fixed;
   width: 100%;
   bottom: 0;
   box-sizing: border-box;
   background-color: #f9f9fa;
   padding: 18px 80px;
   border-top: 0.0625em solid #dfdfdf;
   z-index: 999999;
}

.nav__list {
   display: flex;
   justify-content: space-between;
}

.nav__link {
   color: #2f363e;
   position: relative;
}

.nav__notification {
   position: absolute;
   bottom: 0.75em;
   left: 1.25em;
}

.nav__dot {
   position: absolute;
   left: 2.0625em;
   bottom: 1.75em;
}
