@import "../../../../reset.css";

* {
  box-sizing: border-box;
  width: var(--header-color);
}

main {
  width: var(--main-width);
}

:root {
  --main-width: 1920px;
  --header-color: rgb(0, 240, 255);
}

.main {
  width: var(--main-width);
  background-image: url("../src/image/drif-riadh-YpkuRn54y4w-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

#header {
  width: var(--main-width);
  height: 100px;
  background-color: var(--header-color);
  text-align: center;
}

#header ul {
  display: inline-block;
}

#header > ul > li > a {
  font-size: 24px;
  padding: 30px;
  color: #fff;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

header .logo {
  font-weight: bold;
  font-size: 36px;
}

.hidden {
  display: none;
}

/* transition: height 5s ease-in; */

.main h1 {
  font-size: 60px;
  font-weight: bold;
}

.main h2 {
  font-size: 30px;
  font-weight: normal;
}

.section-01 {
  justify-content: center;
  background-color: #fff;
  height: 980px;
}

.section-01 h1 {
  padding-top: 100px;
  font-weight: bold;
  font-size: 48px;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  text-align: center;
}

.tajMahal {
  width: 800px;
  height: 620px;
}

.section-01 .mask01 {
  position: absolute;
  top: 0px;
  background: none;
  width: 620px;
  height: 620px;
}
